/* :root {
    color-scheme: light dark;
} */
body {
    color: #ffffff;
    background: #01273d;
    font: 100% system-ui;
  }
  a {
    color: #0033cc;
  }

table, tr, td, th{
    padding: 2px;
    margin: auto;
    border: none;
    }

.header {
  background-color: #024267;

}

.audio-player {
  width:240px;
  height:40px;
}


/* table, tr, td, th{
  padding: 2px;
  margin: auto;
  border: none;
  } */
/* 
#player {
  width: 200%;
  } */
