/* :root {
    color-scheme: light dark;
} */
body {
    color: #ffffff;
    background: #01273d;
    font: 100% system-ui;
  }
  a {
    color: #0033cc;
  }

table, tr, td, th{
    padding: 2px;
    margin: auto;
    border: none;
    }

table tr th:first-child{
  text-align: right;
  padding-right: 5px;
}

h1{
  margin-top: 2em;
  font-size: 30px;
  font-style: italic;
}

.header {
  background-color: #024267;

}

.audio-player {
  width:150px;
  height:40px;
}

.main {
  margin: 0 17vw;
}


.warning {
  color: rgb(255, 0, 0);
  max-width: 400px;
  padding: 20px;
  border: 1px solid red;
  border-radius: 20px;
}


/* table, tr, td, th{
  padding: 2px;
  margin: auto;
  border: none;
  } */
/* 
#player {
  width: 200%;
  } */
